<div class="container">
  <div id="content">
    <section class="intro">
      <h1>Coverage Status Codes</h1>
    </section>


    <section>
      <table class="views-table">
        <thead>
        <tr>
          <th>Resource</th>
          <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr class="odd">
          <td>1</td>
          <td>Active Coverage</td>
        </tr>
        <tr class="even">
          <td>2</td>
          <td>Active - Full Risk Capitation</td>
        </tr>
        <tr class="odd">
          <td>3</td>
          <td>Active - Services Capitated</td>
        </tr>
        <tr class="even">
          <td>4</td>
          <td>Active - Services Capitated to Primary Care Physician</td>
        </tr>
        <tr class="odd">
          <td>5</td>
          <td>Active - Pending Investigation</td>
        </tr>
        <tr class="even">
          <td>6</td>
          <td>Inactive</td>
        </tr>
        <tr class="odd">
          <td>7</td>
          <td>Inactive - Pending Eligibility Update</td>
        </tr>
        <tr class="even">
          <td>8</td>
          <td>Inactive - Pending Investigation</td>
        </tr>
        <tr class="odd">
          <td>9</td>
          <td>Not-Covered</td>
        </tr>
        <tr class="even">
          <td>10</td>
          <td>Cannot process</td>
        </tr>
        <tr class="even">
          <td>11</td>
          <td>Generic inquiry provided no information for this service type. Retry by including service_type= for an explicit inquiry for this service type.</td>
        </tr>
        <tr class="even">
          <td>12</td>
          <td>Not deemed a medical necessity</td>
        </tr>
        <tr class="even">
          <td>13</td>
          <td>Second surgical opinion required.</td>
        </tr>
        <tr class="even">
          <td>14</td>
          <td>Card reported stolen.</td>
        </tr>
        <tr class="even">
          <td>15</td>
          <td>Contact following entity for coverage info</td>
        </tr>
        </tbody>
      </table>


    </section>

  </div>